<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>Create a new show</title>
  </head>
  <body class="bg-dark d-flex justify-content-center align-items-center p-sm-5">
    <div class="container py-5 bg-secondary">
    <br><h1 class="text-center"><span class="text-muted badge bg-light p-4">Create a New Show</span></h1>
    <div class="text-sm-center">
        <br>
        <a class="btn btn-sm btn-outline-light" href="/admin_dashboard">Home</a>
        <a class="mx-2 btn btn-sm btn-outline-light" href="/admin_login">Log out</a>
    </div> 
      <form action="/add_show/{{ venues.id }}" method="post" class="container-sm">
        <div class="col-sm-6 mx-auto text-light">
        <div class="mb-3" >
          <label for="name" class="form-label">Show Name:</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        
        <div class="mb-3 col-9 ">
          <label for="rating" class="form-label">Rating:</label>
          <select class="form-select" name="rating" id="rating">
            {% for rn in range(1,11) %}
              <option>{{ rn }}</option>
            {%endfor%}
          </select>
        </div>
        
        <div class="mb-3">
          <label for="tags" class="form-label">Tags:</label>
          <input type="text" class="form-control" id="tags" name="tags">
        </div>
        
        <div class="col-9 mb-3">
          <label for="timing" class="form-label">Timing:</label>
          <select class="form-select" name="timing" id="timing">
            {% for tt in tm %}
              {% if tm[tt] not in tm_l %}
                <option>{{ tm[tt] }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        
        <div class="mb-3">
          <label for="ticket_price" class="form-label">Ticket Price:</label>
          <input type="text" class="form-control" id="ticket_price" name="ticket_price">
        </div>
      </div>
      <br>
      <div class="text-center">
          <input type="submit" value="Save" class="btn btn-dark">
      </div>
      </form>
    </div>
  </div>
  </body>
</html>
