<!DOCTYPE html>
<html>
<head>
    <title>Book Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center p-sm-5">
    <div class="background-slideshow">
        <div class="image" style="background-image: url('/static/ig.jpg');"></div>
      </div>
    <div class="container py-5 bg-secondary" style="background-image: url('/static/ig.jpg');">
    <br><h1 class="text-center"><span class="text-warning badge bg-light p-4">Book Show</span></h1>
    <div class="text-sm-center">
        <br>
        <a class="btn btn-sm btn-outline-light" href="/user_dashboard/{{book.user_id}}">Home</a>
        <a class="mx-2 btn btn-sm btn-outline-light" href="/">Log out</a>
    </div>
        <form action="/confirm_booking/{{book.id}}" method="POST" class="container-sm">
            <div class="col-sm-6 mx-auto text-light">
                <hr>
            <div class="mb-3">
                <label for="seats_booked" class="form-label">Number of seats booked:</label>
                <input type="number" name="seats_booked" id="seats_booked" class="form-control" value="{{ book.seats_booked }}" disabled>
            </div>
            <div class="mb-3">
                <label for="ticket_price" class="form-label">Ticket Price:</label>
                <input type="number" name="ticket_price" id="ticket_price" class="form-control" value="{{ show.ticket_price }}" disabled>
            </div>
            <div class="mb-3">
                <label for="Total_ticket_price" class="form-label">Total Ticket Price:</label>
                <input type="number" name="Total_ticket_price" id="Total_ticket_price" class="form-control" value="{{ total }}" disabled>
            </div>
            <input type="submit" value="Confirm Book" class="btn btn-warning">
        </div>
        </form>
    </div>
</div>
</body>
</html>
