<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center p-sm-5">
    <div class="container py-5 bg-secondary">
        <h1 class="text-center"><span class="text-muted badge col-lg-6 bg-light p-2">Search</span></h1>
        <div class="text-sm-center p-4">
            <a class="btn btn-sm btn-outline-light mx-1" href="/user_dashboard/{{u_id}}">Home</a>
            <a class="btn btn-sm btn-outline-light mx-1" href="/">Log out</a>
            <hr class="bg-light">
        </div> 
        <form method="POST">
            <div class="col-sm-6 mx-auto text-light ">
                <h3 class="text-center"><span class="text-light badge p-2">Search Venue</span></h3>
                <hr class="col-lg-12">
                <div class="form-group row mb-3">
                    <label for="location" class="col-sm-3 col-form-label text-light">Location:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                </div>
                <h3 class="text-center"><span class="text-light badge p-2">Search Show</span></h3>
                <hr class="col-lg-12">
                <div class="form-group row mb-3">
                    <label for="tags" class="col-sm-3 col-form-label text-light">Tags:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tags" name="tags">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="rating" class="col-sm-3 col-form-label text-light">Rating:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="rating" name="rating" value="1" min="1" max="10">
                    </div>
                </div>
            </div>
            <br><button type="submit" class="btn btn-secondary btn-outline-light col-lg-6 mx-auto d-block " >Search</button>
        </form>
    </div>
</body>
</html>
