<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/css/admin_style.css"> -->
    <title>Show Dashboard of {{venues.name}}</title>
</head>
<body>
    <div style="float:right">
        <a href="/admin_dashboard">Home</a>
        <a href="/">Log out</a>
    </div>
    {% if shows|length == 0 %}
        <h4>No shows created</h4>
    {% else %}
    <h1>shows at {{venues.name}}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.id}}</a></td>
            <td><a href="/show/{{ show.id }}">{{ show.name }}</a>
            <td>
                <a type="button" href="/update_show/{{ show.id }}">Update</a>
                <a type="button" href="/delete_/{{ show.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>  
    {% endif %}
    <a type="button" href="/add_show/{{venues.id}}">+Add show</a><br>
</body>
</html>