<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body class="bg-secondary">
    <div class="container ">
      <div class="row justify-content-center">
        <div class="header text-center py-4 col-md-6">
            <h1 class="text-center"><span class="text-muted badge bg-light p-4">Ticket Show</span></h1>
            <div class="text-sm-end">
                <a href="/" class="btn btn-sm btn-outline-light"><strong>Home</strong></a>
            </div> 
        <form action="/sign_up" method="post">
            <div class="mb-3">
                <label for="username" class="form-label float-lg-start text-light">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label float-lg-start text-light">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label float-lg-start text-light">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-dark btn-lg btn-outline-light w-100">Sign Up</button>
            </div>
        </form>
        </div>
    </div>
</body>
</html>
