<!DOCTYPE html>
<html>
<head>
    <title>Update Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center p-sm-5">
    <div class="container py-5 bg-secondary">
    <br><h1 class="text-center"><span class="text-muted badge bg-light p-4">Update Show</span></h1>
    <div class="text-sm-center">
        <br>
        <a class="btn btn-sm btn-outline-light" href="/admin_dashboard">Home</a>
        <a class="mx-2 btn btn-sm btn-outline-light" href="/">Log out</a>
    </div>
    <form method="POST" action="/update_show/{{ show.id }}" class="container-sm" >
        <div class="col-sm-6 mx-auto text-light">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" value="{{ show.name }}" class="form-control">
        </div>
        <div class="mb-3 col-9">
            <label for="rating" class="form-label">Rating</label>
            <select name="rating" id="rating" class="form-select">
                {% for rn in range(1, 11) %}
                    {% if show.rating == rn %}
                        <option value="{{ rn }}" selected>{{ rn }}</option>
                    {% else %}
                        <option value="{{ rn }}">{{ rn }}</option>
                    {% endif %}
                {% endfor %}
            </select>            
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">Tags</label>
            <input type="text" id="tags" name="tags" value="{{ show.tags }}" class="form-control">
        </div>
        <div class="mb-3 col-9">
            <label for="timing" class="form-label">Timing</label>
            <select name="timing" id="timing" class="form-select">
                {% for tt in tm %}
                    <option {% if tm[tt] == show.timing %}selected{% endif %}>{{ tm[tt] }}</option>
                {%endfor%}
            </select>
        </div>
        <div class="mb-3">
            <label for="ticket_price" class="form-label">Ticket Price</label>
            <input type="text" id="ticket_price" name="ticket_price" value="{{ show.ticket_price }}" class="form-control">
        </div>
        <div class="mb-3 col-9">
            <label for="venue_id" class="form-label">Venue</label>
            <select id="venue_id" name="venue_id" class="form-select">
                {% for venue in venues %}
                    {% if venue.id == show.venue_id %}
                        <option value="{{ venue.id }}" selected>{{ venue.name }}</option>
                    {% else %}
                        <option value="{{ venue.id }}">{{ venue.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Update Show" class="btn btn-dark">
        </div>
    </form>
</div>
</body>
</html>
