<!DOCTYPE html>
<html>
<head>
    <title>Book Show</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center p-sm-5">
    <div class="background-slideshow">
        <div class="image" style="background-image: url('/static/ig.jpg');"></div>
      </div>
    <div class="container py-5 bg-secondary"style="background-image: url('/static/i2.jpg');">
    <br><h1 class="text-center"><span class="text-warning badge bg-light p-4">Book Show</span></h1>
    <div class="text-sm-center">
        <br>
        <a class="btn btn-sm btn-outline-light" href="/user_dashboard/{{user.id}}">Home</a>
        <a class="mx-2 btn btn-sm btn-outline-light" href="/">Log out</a>
    </div>
    <div class="card my-3 container-sm border-1 rounded-3 shadow-sm">
        <div class="card my-lg-3">
            <div class="card-body row w-8 m-1">
                <h2>My Bookings</h2>
                {% if bookings %}
                    <ul class="list-group">
                    {% for booking in bookings %}
                    <div class="col-form-label-sm card w-3 m-sm-1">
                        <div class="card-body">
                            <table class="table table-sm table-hover table-striped ">
                                <thead class="bg-warning">
                                    <tr class="text-light">
                                        <th>Show Name</th>
                                        <th>Venue Name</th>
                                        <th>Timing</th>
                                        <th>Total seats</th>
                                        <th>Seats Booked</th>
                                        <th>Total Amount</th>
                                        <th>Rate Show</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border">
                                    <tr>
                                        <td>{{ booking.show.name }}(<span>{{booking.show.rating}}</span>)</td>
                                        <td> {{ booking.show.venue.name }}</td>
                                        <td>{{ booking.show.timing }}</td>
                                        <td>{{ booking.show.venue.capacity }}</td>
                                        <td>{{ booking.seats_booked }}</td>
                                        <td>{{ booking.seats_booked * booking.show.ticket_price }}</td>
                                        <td>
                                          <form method="post" action="/rate_show/{{ booking.id }}">
                                              <div class="d-flex align-items-center">
                                                  <select class="form-select form-select-sm me-2" name="rating" id="rating" required>
                                                      {% for rn in range(1,11) %}
                                                      <option>{{ rn }}</option>
                                                      {% endfor %}
                                                  </select>
                                                  <button type="submit" class="btn btn-light btn-outline-dark btn-sm">Rate</button>
                                              </div>
                                          </form>
                                      </td>
                                      <td><a href="/unbook/{{booking.user_id}}/{{booking.show_id}}/{{booking.show.venue.id}}"class="btn btn-light btn-outline-danger btn-sm">Cancel</a></td>                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-danger text-xl-start">You have no bookings yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</body>
</html>
